@font-face {
	font-family: 'GreatVibes-Regular';
	src: url('../assets/fonts/GreatVibes-Regular.ttf') format("woff");
	font-style: normal;
}


@font-face {
	font-family: 'PlayfairDisplay-Medium';
	src: url('../assets/fonts/PlayfairDisplay-Medium.ttf') format("woff");
	font-style: normal;
}


@font-face {
	font-family: 'PlayfairDisplay-Regular';
	src: url('../assets/fonts/PlayfairDisplay-Regular.ttf') format("woff");
	font-style: normal;
}


@font-face {
	font-family: 'PlayfairDisplay-SemiBold';
	src: url('../assets/fonts/PlayfairDisplay-SemiBold.ttf') format("woff");
	font-style: normal;
}